.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.table_class {
  border-collapse: collapse;
  
}
.table_class td, .table_class th {
  border: 2px dashed green;
  padding:5 10;
}
.table_class th{
  background-color: cyan;
}

.table_class2 {
  border-collapse: collapse;
  
}

.table_class2 td {
  border: 2px solid green;
  padding:5 10;
}